.outerWrapper,
.innerWrapperLeft,
.innerWrapperRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.rating {
  color: #090d23;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}

.name {
  color: #090d23;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}

.description {
  color: #090d23;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
  margin-bottom: 26px;
}
