.wrapper {
  background-color: #181818;
  margin-bottom: 160px;
}

.sectionContainer {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 92px;
  padding-bottom: 138px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 45px;
}

.subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 22.4px */
  letter-spacing: 2.1px;
  text-transform: uppercase;
  background: linear-gradient(91deg, #5635dd -2.48%, #e63573 99.68%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  color: #fff;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 54px */
  max-width: 447px;
}

.topInnerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.box {
  height: 526px;
  position: relative;
}

.image {
  height: 370px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.singleImage {
  object-fit: fill;
  width: 100%;
}

.cardSubtitle {
  color: #888;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}

.cardTitle {
  color: #fff;
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 40.5px */
}

.cardContent {
  color: #aaa;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  margin-top: 22px;
  margin-bottom: 22px;
}

.link {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: 2.88px;
  text-decoration: none;
}

.content {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: calc(100% - 90px);
  background: #181818;
  padding: 16px 0 0 25px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .container {
  }

  .box {
  }
}

@media screen and (max-width: 1023px) {
}
